<label>Date:</label>
<input type="date" name="date" value="<%= shift.date%>"><br>
<label>Arrival:</label>
<input type="time" name="arrival" value="<%= shift.arrival%>"><br>
<label>Departure:</label>
<input type="time" name="departure" value="<%= shift.departure%>"><br>
<label>Break:</label>
<input type="time" name="breakLength" value="<%= shift.breakLength%>"><br>
<label>Type:</label>
<input type="number" name="type" min="0" max="3" value="<%= shift.type%>"><br>
