<h2>Shifts</h2>
<form action="/shifts" method="GET">
<label>filter</label>
<input type="number" name="filter" value="<%= searchFilter%>"><br>
<button type="submit">Show</button>
</form>
<br>
<% shifts.forEach(shift => { %>
    <div> <%= shift.dateString %> | <%= shift.arrivalString %> | <%= shift.departureString %> | <%= shift.breakLengthString %> | <%= shift.type %>  </div>
<% }) %>